body {
    text-align: center;
    background-image: url(images/bgGalaxy.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;     
    h1 {
        color: #fff;
        font-family: Nunito, sans-serif;
        font-weight: 400;
        font-size: 3.1rem;
        padding-top: 2.5rem;
    }
    .container-principal {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-left: 15.6rem;
        .container {
            width: 37.5rem;
            height: 37.5rem;
            .quadrado {
                text-align: center;
                width: 2.5rem;
                background: #c77dff;
                display: inline-block;
                padding: 2.37rem;
                font-size: 3.62rem;
                margin: 0.3rem;
                border-radius: 4.3rem;
                cursor: pointer;
                color: #c77dff;
            }
        }
    }    
    .mini-container {
        height: 11.25rem;
        width: 12.5rem;
        background-color: #c77dc7;
        border-radius: 1.2rem;
        .jogador, .vencedor {
            font-size: 1.8rem;
            margin-top: 1.1rem;
            color: #eee;
                label {
                font-family: Nunito, sans-serif;
                font-size: 1.7rem;
                font-weight: 200;
            }
        }
        button {
            margin-top: 1.6rem;
            width: 6.2rem;
            height: 1.8rem;
            background: #eee;
            cursor: pointer;
            background-color: #3e11a788;
            font-style: arial;
            color: #eee;
            border-color: #2108368e;
            border-radius: 0.6rem;
        }
        button:hover {
            background-color: #2f0591de;
            transition: 0.7s;
        }  
    }
}


@media (max-width: 768px) { 
    body {
        height: 100vh;
        width: 100vw;
        h1 {
            font-size: 2.5rem;
        }
        .container-principal {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            .container {
                height: 18.7rem;
                width: 18.7rem;
                margin: 0 auto;
                .fileira {
                    width: 18.7rem;
                    .quadrado {
                        width: 3.1rem;
                        padding: 0.6rem;
                        font-size: 3rem;
                        margin: 0.3rem;
                    }
                }
            }
            .mini-container {
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                .jogador,
                .vencedor label {
                    font-family: Nunito, sans-serif;
                    font-size: 1.5rem;
                }
            }

        }

    }
}